html {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

nav ol {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  list-style-type: none;
}

a:link {
  color: #8f2440;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #3f1662;
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
}

i, cite, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

id {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

h2 + ol {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

.period {
  font-size: 1.5rem;
  font-weight: bold;
}
dt {
  font-weight: bold;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

footer cite {
  font-size: 0.8rem;
}

ul li {
  font-size: 0.8rem;
  list-style-type: circle;
}
